.navigationbar{
    background-color: rgba(90, 106, 119, 0.73);
    /* height: 40px; */
    border-radius: 50px;
    /* width: 570px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: #98C3E6 1px solid;
    margin:0 auto ;
    position: sticky;
}
.navigationbar a {
    /* padding: 30px; */
    margin: 10px 20px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#NavigationContainer{
    display: flex;
    justify-content: space-between;
}
#NavigationContainer .anticon-down{
    font-size: 10px !important;
}

@media (max-width:769px){
    #navbar{
        /* display: flex; */
        flex-direction: row;
        align-items: center;
        display: none;
    }
}